---
title: home
layout: page
permalink: index.html
---
<section>
    <hr>
    <h3>Ola 👋</h3>
    <p>This is a section</p>
    <a href="{{ '/an-other-page' | url}}">An other page, written in markdown</a>
    <hr>
    <h3>Url prefix</h3>
    <p>Change the url prefix in .eleventy.js</p>
    <hr>
    <h3>Layout alias</h3>
    <p>If you create another layout, add an alias in .eleventy.js</p>
    <hr>
    <h3>Shopify liquid</h3>
    <p>.vscode/settings.json contains code that will recognize liquid as html</p>
</section>